h1{
    text-align: center;
}
#image-container {
    display: flex;
    justify-content: center;
    align-items: start;
}
#image-container img {
    max-width: 100%; /* Для масштабирования изображения в соответствии с шириной страницы */
}
